/* WELCOME BRAND
Contains brand logo and welcome phrase */

@import url('https://fonts.googleapis.com/css?family=Port+Lligat+Sans');
.half-container {
    float: left;
    width: 50%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.container{
    height: 695px;
    overflow: hidden;
}

.center-display {
    margin: auto;
}

.heigth {
    height: 100%;
}

div .bran-icon{
    display: flex;
    justify-content: center;
}

.bran-icon img {
    max-width: 100%;
    margin: auto;
}

.gray-line {
    border-right-color: rgb(128, 6, 6);
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }

.brown {
    color: #451C06;
}

.font-style {
    font-size: 2rem;
    font-family: 'Port Lligat Sans', sans-serif;
    /* padding: 10px; */
}

img{
    height: 80%;
    width: 80%;
}

.box-shadow{
    box-shadow: 0 0 15px 5px rgba(31, 73, 125, 0.8);

}

.fill { 
    min-height: 100%;
    height: 100%;
}

.map {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
