<div class="container container-fluid half-container">
    <div class="background-gray padding ">
        <p class="font-style-title">
            Orden N°
        </p>
        <div class="font-style-p" (keyup.enter)="getTableNumber()">
            Mesa: {{ table }}
        </div>
        <div class="font-style-p" (keyup.enter)="getClientName()">
            {{ name | titlecase }} ha ordenado:
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Cant.</th>
                    <th scope="col" class="text-close">Items</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of ">
                    <th class="black" (click)="lessItem()">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </th>
                    <!-- <td>{{item.quantity}}</td> -->
                    <td>{{item.name}}</td>
                    <td>{{item.price | currency: 'USD'}}</td>
                    <td>$ 5</td>
                    <td class="black" (click)="removeItem(item)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="padding">
        <p class="font-style-title ">Total <span class="font-style-dollar text-right">$ 00.00</span></p>
    </div>

    <div>
        <button class="btn centered font-style" data-toggle="modal" data-target="#exampleModalLong">ORDENAR</button>
        <app-order-resume class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"></app-order-resume>
    </div>
</div>