<div class="container gray-line half-container heigth">
    <div class="row">
        <div class="col-md-6 center-display">
            <div class="brand-icon">
                <p class="brown font-style">Hola,</p>
                <p class="brown font-style">¿Cual es tu nombre?</p>
            </div>
            <div>
                <input class="brown font-name" type="text">
            </div>
            <div>
                <button class="brown btn btn-primary" (click)="onClickMe()" type="button">Entrar</button>
                <!-- (click)="onClickMe()" -->
            </div>
        </div>
    </div>
</div>