<div class="container col-md-6  gray-line half-container mh-100 ">
    <div class="row margin">
        <div class="center-display ">
            <div class="brand-icon ">
                <p class="brown font-style"></p>
                <p class="brown font-style align-middle">Hola,<br>¿Cual es tu nombre?</p>
            </div>
            <div>
                <input #newWaitress class="brown font-name align-middle" type="text" #box 
                (keyup.enter)="onClick(newWaitress.value)"
                (blur)="onClick(newWaitress.value); newWaitress.value='' ">
            </div>
            <div class="center-display">
                <button class="brown btn centered font-style" (click)="onClick(newWaitress.value)"  type="button">Entrar</button>
                <!-- (click)="onClickMe()" -->
            </div>
        </div>
    </div>
</div>