<div class=" container half-container-menu shadow">
    <div>
        <app-client-information></app-client-information>

    </div>

    <div class="display container-fluid padding">
        <div class="text-align nav nav-tabs">
            <button class=" button font-style-btn menu-btn" id="desayuno" [routerLink]="['/ordenes', 'desayuno']">Desayuno</button>
            <button class="button font-style-btn menu-btn" id="resto-del-día" [routerLink]="['/ordenes', 'resto-del-dia']">Resto del día</button>
        </div>
        <div class="container container-background text-left padding">
            <button class="text-left button-item " *ngFor="let item of order , let i = index"  (click)="askingOrder(item, i)">
                <a>
                    {{item.name}} <span class="text-right">{{item.price | currency}}</span>
                </a>
            </button>
        </div>
    </div>
</div>