<div class= " container half-container-menu shadow">
    <div>
            <app-client-information ></app-client-information>

    </div>

        <div class="display container-fluid padding">
            <div class="text-align">
                <button class="button" id="desayuno" [routerLink]="['/ordenes', 'desayuno']" >Desayuno</button>
                <button id="resto-del-día" [routerLink]="['/ordenes', 'resto-del-dia']" >Resto del día</button>
            </div>
            <div class=" text-left padding">
                    <button class="text-left button-item" *ngFor="let item of order">
                        <a class="" (click)="sumItem()">
                            {{item.name}} <span class="text-right">${{item.price}}</span>
                        </a>
                    </button>
            </div>

            <!-- prueba de estilo con dropdown y ngIf para category

                            <div class=" text-left padding btn-group-horizontal" role="group">
                <button id="btnGroupDrop1" class=" text-left button-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">Café</button>
                <select aria-labelledby="btnGroupDrop1" class="text-left button-item dropdown-menu" *ngFor="let item of order" >
                    <option *ngIf="item.category === 'cafe'" class="dropdown-item" (click)="passItemToOrder()" >
                            {{item.name}} <span class="text-right">${{item.price}}</span>
                    </option>
                </select>
                <div *ngFor="let item of order" >
                    <button class="text-left button-item" *ngIf="item.category === 'otro'">
                        <a class="" (click)="passItemToOrder()" >
                            {{item.name}} <span class="text-right">${{item.price}}</span>
                        </a>
                    </button>
                </div>
            </div>
            
                        <div class="btn-group-vertical">
                <ul class="text-left padding">
                    <li class="text " *ngFor="let item of order">
                        <a class="padding-side" (click)="passItemToOrder()">
                            {{item.name}} {{item.price}}
                        </a>
                    </li>
                </ul>
            </div>
                        <div class="btn-group-vertical">
                <ul class="text-left padding">
                    <li class="text " *ngFor="let item of order">
                        <a class="padding-side" (click)="passItemToOrder()">
                            {{item.name}} {{item.price}}
                        </a>
                    </li>
                </ul>
            </div>-->
           
        </div>
</div>

