.display{
    display: inline-block;
    border-spacing: 3%;
    padding: 3% 5% 3% 5%;
}

.half-container {
    float: left;
    width: 50%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.capitalize{
    text-transform: capitalize;
}

.font-style-p {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Port Lligat Sans', sans-serif;
    margin-bottom: 5px;
}

input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgb(99, 99, 99);
  }