<nav class="navbar navbar-expand-lg navbar-dark bg-dark display-block">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a routerLink="/" class="nav-item nav-link active  p-2"> HOME</a>

            <a routerLink="/ordenes" class="nav-item nav-link disabled  p-2"> ORDENES</a>

            <a routerLink="/listoparaservir" class="nav-item nav-link disabled p-2"> LISTO PARA SERVIR</a>
            <a routerLink="/historial" class="nav-item nav-link disabled p-2"> HISTORIAL</a>
        </div>
    </div>
</nav>